*{
    box-sizing: border-box;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
article{
    padding-right: 5em;
    text-align: center;
    object-fit: contain;
    margin-bottom: 3em;
    
}
article p, h3{
    padding: 0;
    margin: 0;
}
